.WhyUs{
    color:#036D6C;
    font-family: 'source sans 3';
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
}
.WhyUs h1{
    font-size: 48px;
    margin-bottom: 40px;
}
.maindiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    color: rgb(122, 122, 119);
    width: 30%;
    display: flex;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: #036d6b17;
}