.screen{
    width: 100%;
    height: 100vh;
}
.upper{
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    background-color: #ff9900;
    align-items: center;
}
.upper h1{
    font-size: 48px;
    color: white;
    margin-bottom: 10px;
}
.upper h3{
    font-size: 24px;
    color: white;
}
.lower{
    display: flex;
}
.description{
    width: 60%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.application{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}