.div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'source sans 3';
}
.form{
    background-color: #d1e4e4e3;
    padding: 3% 5% 5% 5%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.form h1{
    margin-bottom: 2%;
    color: #036d6c;
}
.form input{
    width: 80%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 5px;
    background-color: #8ecece91;
    border: none;
}
.form button{
    width: 50%;
    background-color: #036d6c;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #FBFBFE;
}
.form div{
    margin-top: 2%;
    color: rgb(122, 122, 119);
}
.form span{
    color: #036d6c;
}