.faq{
    color:#036D6C;
    font-family: 'source sans 3';
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.faq h1{
    font-size: 48px;
    margin-bottom: 40px;
}
.section{
    padding: 2%;
    background-color: #036d6b17;
    color: rgb(122, 122, 119);
    margin-bottom: 2%;
}
.question{
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question span{
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
}
.answer{
    padding-top: 1%;
    border-top: 1px solid #036d6b48;
}