.bg{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.button{
    background-color: black;
    height: 50px;
}
.card{
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f9d5a0;
    margin: 2% 4% 2% 4%;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}
.card h1{
    color: #ff9900;
}
.applbutton{
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
}
.card:hover{
    box-shadow: 4px 4px 8px #f9d5a0b2;

}