.HowWeWork{
    color:rgb(122, 122, 119);
    font-family: 'source sans 3';
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ff99002b;
    border-radius: 10px;
    display: flex;
}
.text{
    width: 40%;
    font-size: 32px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.text1{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.numbers{
    padding: 3%;
    width: 40%;
    display: flex;
}
.numbers h1{
    padding: 5%;
}