.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #FBFBFE;
    font-family: 'source sans 3';
    color: #036D6C;
    border-bottom: 1px solid rgb(196, 186, 186);
}
.brandname{
    margin-left: 10%;
    width: 50%;
    display: flex;
    align-items: center;
}
.links{
    flex:1;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 15%;
    align-items: center;
}