*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'source sans 3';
    color: rgb(122, 122, 119);
}
.form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;   
    border-radius: 5px;
    border: 2px solid #036d6b17;
}
.select{
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;   
    border-radius: 5px;
    border: 2px solid #036d6b17;
}
.page h1{
    color: #036d6c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.input:focus{
    border: 2px solid #036d6b;
    outline: none;
}
.select:focus{
    border: 2px solid #036d6b;
    outline: none;
}
.button{
    background-color: #036d6b;
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    color: white;
    margin: 15px;
}